@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Variable (nos permite hacer modificaciones solo en ":root" y no hacerlo selector por selector, los cambios se verian en toda la paginas */
:root{
    --color-texto: #3a3b3c;
    --fuente-principal: "DM Sans", sans-serif;
}

*{
    font-family: var(--fuente-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    align-items: center;
}

.logo-container{
    display: flex;
    flex-direction: row;
    gap:15px;
}

.logo-container .logo{
    width: 140px;
}

.logo-container .selector-lenguaje{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container .selector-lenguaje .lenguaje{

}

.logo-container .selector-lenguaje .pais{
    width: 35px;
}

header nav{

}

nav .links-container{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

nav .links-container .link-item{
    display: flex;
    height: 50px;
    align-items: center;
}

nav .links-container .link-item .link{
    text-decoration: none;
    color: var(--color-texto);
}

nav .links-container .link-item .btn-link{/* La etiqueta "A" es una etiqueta en linea, para que los hijos dejen de ser en linea y puedan darle ancho, alto, sean mas manejables al padre se le da "display:flex"*/
    border: 2px solid var(--color-texto);
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
}



